:root {
  --md-primary-fg-color: rgba(165, 58, 21, 0.1);
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #90030c;
}

:root.width-50 {
  width: 50% !important;
}
.md-typeset .grid.cards.skills {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

/* pied-piper  admonition */
:root {
--md-admonition-icon--pied-piper: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M244 246c-3.2-2-6.3-2.9-10.1-2.9-6.6 0-12.6 3.2-19.3 3.7l1.7 4.9zm135.9 197.9c-19 0-64.1 9.5-79.9 19.8l6.9 45.1c35.7 6.1 70.1 3.6 106-9.8-4.8-10-23.5-55.1-33-55.1zM340.8 177c6.6 2.8 11.5 9.2 22.7 22.1 2-1.4 7.5-5.2 7.5-8.6 0-4.9-11.8-13.2-13.2-23 11.2-5.7 25.2-6 37.6-8.9 68.1-16.4 116.3-52.9 146.8-116.7C548.3 29.3 554 16.1 554.6 2l-2 2.6c-28.4 50-33 63.2-81.3 100-31.9 24.4-69.2 40.2-106.6 54.6l-6.3-.3v-21.8c-19.6 1.6-19.7-14.6-31.6-23-18.7 20.6-31.6 40.8-58.9 51.1-12.7 4.8-19.6 10-25.9 21.8 34.9-16.4 91.2-13.5 98.8-10zM555.5 0l-.6 1.1-.3.9.6-.6zm-59.2 382.1c-33.9-56.9-75.3-118.4-150-115.5l-.3-6c-1.1-13.5 32.8 3.2 35.1-31l-14.4 7.2c-19.8-45.7-8.6-54.3-65.5-54.3-14.7 0-26.7 1.7-41.4 4.6 2.9 18.6 2.2 36.7-10.9 50.3l19.5 5.5c-1.7 3.2-2.9 6.3-2.9 9.8 0 21 42.8 2.9 42.8 33.6 0 18.4-36.8 60.1-54.9 60.1-8 0-53.7-50-53.4-60.1l.3-4.6 52.3-11.5c13-2.6 12.3-22.7-2.9-22.7-3.7 0-43.1 9.2-49.4 10.6-2-5.2-7.5-14.1-13.8-14.1-3.2 0-6.3 3.2-9.5 4-9.2 2.6-31 2.9-21.5 20.1L15.9 298.5c-5.5 1.1-8.9 6.3-8.9 11.8 0 6 5.5 10.9 11.5 10.9 8 0 131.3-28.4 147.4-32.2 2.6 3.2 4.6 6.3 7.8 8.6 20.1 14.4 59.8 85.9 76.4 85.9 24.1 0 58-22.4 71.3-41.9 3.2-4.3 6.9-7.5 12.4-6.9.6 13.8-31.6 34.2-33 43.7-1.4 10.2-1 35.2-.3 41.1 26.7 8.1 52-3.6 77.9-2.9 4.3-21 10.6-41.9 9.8-63.5l-.3-9.5c-1.4-34.2-10.9-38.5-34.8-58.6-1.1-1.1-2.6-2.6-3.7-4 2.2-1.4 1.1-1 4.6-1.7 88.5 0 56.3 183.6 111.5 229.9 33.1-15 72.5-27.9 103.5-47.2-29-25.6-52.6-45.7-72.7-79.9zm-196.2 46.1v27.2l11.8-3.4-2.9-23.8zm-68.7-150.4l24.1 61.2 21-13.8-31.3-50.9zm84.4 154.9l2 12.4c9-1.5 58.4-6.6 58.4-14.1 0-1.4-.6-3.2-.9-4.6-26.8 0-36.9 3.8-59.5 6.3z"/></svg>');
}

.md-typeset .admonition.pied-piper,
.md-typeset details.pied-piper {
  border-color: rgb(43, 155, 70);
}
.md-typeset .pied-piper > .admonition-title,
.md-typeset .pied-piper > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .pied-piper > .admonition-title::before,
.md-typeset .pied-piper > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--pied-piper);
  mask-image: var(--md-admonition-icon--pied-piper);
}

/* pied-piper-of-hamelin  admonition */

:root {
  --md-admonition-icon--pied-piper-of-hamelin: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.482 51.482"><path d="M40.728,46.391c-2.496-0.683-4.987-1.386-7.479-2.082c0.756-2.398,1.345-4.834,1.716-7.336 c0.115-0.34,0.198-0.709,0.233-1.113c0.327-3.793,0.252-7.579,0.021-11.369l4.369,10.196l5.064-4.188L34.607,21.16 c-0.916-1.471-2.938-2.285-4.568-1.973c-1.318,0.252-2.24,0.989-2.795,1.969c-0.062,0.004-0.123,0.009-0.184,0.013 c-1.01,0.074-2.208,0.343-3.208,0.143c-1.109-0.221-1.837-2.765-2.147-3.611c-0.008-0.022-0.019-0.042-0.027-0.064l5.763-0.714 c1.088,1.217,2.803,1.791,4.482,1.332c2.367-0.646,3.762-3.087,3.116-5.455l0.2-0.055c0.715-0.195,1.137-0.932,0.941-1.647 c-0.197-0.715-0.934-1.137-1.647-0.942l-0.519,0.141c-0.365-1.338-0.256-2.638-0.615-3.313l0.055,0.031l2.249-1.606 c0.062,0.003,0.138-0.003,0.228-0.027c0.381-0.104,0.928-0.534,1.366-1.99c0.158-0.528,0.151-0.845-0.026-1.027 c-0.084-0.087-0.242-0.174-0.515-0.1c-0.065,0.019-0.138,0.045-0.211,0.081c0.029-0.031,0.058-0.061,0.086-0.091 c0.384-0.403,0.662-0.696,0.623-1.062c-0.03-0.307-0.268-0.58-0.844-0.975c-0.284-0.196-0.554-0.26-0.804-0.192 c-0.584,0.159-0.848,0.961-1.104,1.737c-0.133,0.405-0.336,1.019-0.495,1.062c-0.017,0.004-0.062-0.008-0.145-0.081 c-0.184-0.164-0.361-0.225-0.527-0.18c-0.654,0.179-0.502,2.176-0.234,3.921l-0.063,0.127c-0.253-0.13-0.608-0.145-1.135-0.001 c-2.192,0.598-6.423,3.661-5.825,5.853l-0.517,0.141c-0.716,0.195-1.137,0.933-0.941,1.648c0.194,0.715,0.932,1.137,1.646,0.942 l0.201-0.055c0.088,0.32,0.209,0.621,0.357,0.903c-1.367,0.194-3.449,0.483-5.652,0.767c-1.268-1.409-3.748-0.976-4.391,0.526 c-1.071,0.117-2.073,0.215-2.925,0.28c-4.862,0.372-7.673-6.185-6.898-3.12s3.764,6.458,3.764,6.458l3.357-2.374l2.553-0.316 c0.016,0.227,0.064,0.466,0.157,0.719c1.164,3.176,2.708,6.632,6.37,7.365c1.118,0.223,2.343,0.203,3.582,0.1 c0.121,2.693,0.098,5.392-0.101,8.082c-3.497,0.548-10.304,2.726-9.792,7.139c0.32,2.76,1.201,5.527,1.971,8.191 c0.911,3.152,5.626,1.261,4.728-1.854c-0.582-2.014-1.243-4.106-1.56-6.209c1.594-1.134,3.311-1.931,5.32-2.235 c0.455-0.069,0.832-0.231,1.138-0.453c0.272,0.162,0.562,0.295,0.862,0.396c-0.476,2.022-1.08,4.011-1.787,5.979 c-0.502,1.397,0.252,2.386,1.324,2.763c0.211,0.13,0.45,0.237,0.725,0.313c3.347,0.916,6.681,1.875,10.027,2.791C42.758,52.207,43.883,47.254,40.728,46.391z"/></svg>');
}
.md-typeset .admonition.pied-piper-of-hamelin,
.md-typeset details.pied-piper-of-hamelin {
  border-color: rgb(244, 108, 21);
}
.md-typeset .pied-piper-of-hamelin > .admonition-title,
.md-typeset .pied-piper-of-hamelin > summary {
  background-color: #ea7b33;
}
.md-typeset .pied-piper-of-hamelin > .admonition-title::before,
.md-typeset .pied-piper-of-hamelin > summary::before {
  background-color: rgb(31, 13, 145);
  -webkit-mask-image: var(--md-admonition-icon--pied-piper-of-hamelin);
  mask-image: var(--md-admonition-icon--pied-piper-of-hamelin);
}

/* Hide the run button in logfire admonitions */
.admonition.pied-piper-of-hamelin .run-code-btn {
  display: none;
}

/* Logfire  admonition */
:root {
  --md-admonition-icon--logfire: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 139 120"><path fill="%23E620E9" d="M137.542 90.563 73.808 2.241c-2.006-2.757-6.632-2.757-8.617 0L1.456 90.563a5.318 5.318 0 0 0-.998 3.101 5.331 5.331 0 0 0 3.642 5.05l63.735 20.851h.01a5.31 5.31 0 0 0 3.293 0h.01l63.735-20.85a5.265 5.265 0 0 0 3.393-3.406 5.244 5.244 0 0 0-.749-4.746h.015Zm-68.04-76.151 25.545 35.403-23.889-7.813c-.184-.06-.38-.05-.564-.094a3.488 3.488 0 0 0-.549-.09c-.184-.025-.359-.095-.543-.095-.185 0-.355.07-.54.095-.184.02-.368.05-.548.09-.19.035-.384.035-.554.094L44.115 49.77l-.15.05L69.513 14.41h-.01ZM33.408 64.438l27.811-9.104 2.969-.967v52.838L14.324 90.887l19.084-26.449Zm41.412 42.757V54.367l30.78 10.071 19.085 26.434-49.87 16.323h.005Z"/></svg>');
}
.md-typeset .admonition.logfire, .md-typeset details.logfire {
  border-color: #e620e9;
}
.md-typeset .logfire > .admonition-title, .md-typeset .logfire > summary {
  background-color: #e620e91a;
}
.md-typeset .logfire > .admonition-title::before, .md-typeset .logfire > summary::before {
  background-color: #e620e9;
  -webkit-mask-image: var(--md-admonition-icon--logfire);
  mask-image: var(--md-admonition-icon--logfire);
}

/* Hide the run button in logfire admonitions */
.admonition.logfire .run-code-btn {
  display: none;
}

/* add border to screenshots in the logfire admonitions `img[src*="logfire"]` to differentiate from emojis */
.admonition.logfire img[src*="logfire"] {
  border: 1px solid #448aff;
  border-radius: 0.2rem;
  padding: 0.2rem;
}